.ToggleIcon {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  height: 100%;
  padding: 0 2px 0 2px;
  background-color: white;
}

.ToggleIcon:hover {
  cursor: pointer;
}

.ToggleIcon > div {
  border-radius: 10%;
  height: 5px;
  width: 35px;
}

.ToggleIcon > .Blue {
  background-color: blue;
}

.ToggleIcon > .Orange {
  background-color: orange;
}

.ToggleIcon > .Green {
  background-color: green;
}
