.SignUp > label, .SignUp > input, .SignUp > h1 {
  display: block;
  text-align: center;
  width: 70%;
  margin: auto;
}

.SignUp > label, .SignUp > h1 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.SignUp button {
  display: block;
  margin: auto;
}
